.modal-footer{
  text-align: initial !important;
}

.modal{
  max-height: 95% !important;
  top: 2% !important;
}

.-previous{
    height: 50px !important;
}

.-previous{
    height: 50px !important;
}

.-next{
    height: 50px !important;
}

.-center{
    height: 50px !important;
}

.-pageJump input{
  margin-bottom: 0px  !important;
}

select{
  display: flex !important;
}
